<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
    {% include 'navbar.html' %}
    <div style="width: 100%; height: 100vh;">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div id="mensagem">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <div style="display: flex; justify-content: center; padding: 50px; color: #12D0FF;">
            <h1>Nome do portal</h1>
        </div>
        <div style="width: 50%; margin-left: auto; margin-right: auto; margin-top: 50px;">
            <a id="cadastrar" href="{{url_for('cadastro')}}">NovoUser</a>
            <a id="importArq">Importar arquivo</a>
            <table id="myTable" style="margin-top: 10px;" class="display compact hover row-border order-column">
                <thead>
                    <th>ID</th>
                    <th>NOME</th>
                    <th>IDADE</th>
                    <th>AÇÕES</th>
                </thead>
                <tbody>
                    {% for d in dados %}
                    <tr>
                        <td class="idr">{{ d[0] }}</td>
                        <td>{{ d[1] }}</td>
                        <td>{{ d[2] }}</td>
                        <td>
                            <a class="btnEditar" href="{{url_for('editar',id=d[0])}}">Editar</a>
                            <a class="btnExcluir" href="{{url_for('deletar',id=d[0])}}" onclick="return confirm('realmente deseja deletar este usuario?')">Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="selector">
        {% include 'uparquivo.html' %}
    </div>
    
    <script src="/static/js/model.js"></script>
</body>

</html>